---
import Logo from "./Logo.astro";
import * as style from "./Nav.css";
---

<nav class={style.nav}>
  <a href="/" class={style.home}><Logo />Tech&nbsp;F'Est</a>

  <label class={style.burger}
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      ><line x1="4" x2="20" y1="12" y2="12"></line><line
        x1="4"
        x2="20"
        y1="6"
        y2="6"></line><line x1="4" x2="20" y1="18" y2="18"></line></svg
    >
    <input type="checkbox" id="menu" style={{ display: "none" }} />
  </label>

  <label class={style.links} for="menu">
    <a href="/sponsoring" class={style.link}>Sponsors</a>

    <a href="https://conference-hall.io/tech-fest-2026" class={style.link}
      >CFP</a
    >

    <a href="/2025" class={style.link}>Édition 2025</a>

    <a href="/association" class={style.link}>L'association</a>
  </label>
</nav>
